.gifArea{
    display: inline-block;
    width: 100%;
    font-size: 0;
    box-sizing: border-box;

    margin-top: 15px;
    background-color: #edecee;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    video{
        display: inline-block;
        width: 100%;
        opacity: 0%;
        transition-duration: .3s;
    }
}